.jumbotron-me{
    background-color: #E9ECEF;
    margin:0;
}
.color_gray_table{
    background-color: #00000008;
}
#style_text_of_portfolio{
    font-weight: 300;
}
footer{
    background-color: #F5F5F5 ;
}